* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* background-color: lightblue; */
    overflow-x: hidden;
    max-width: 100%;
    font-style: normal;
}

body p {
    font-style: normal;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -4px;
}

.container {

    /* background-color: lightcoral; */
    width: 80%;
    margin: 0 auto;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.links {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 30px;
}

.links li {
    list-style: none;
    /* line-height: 18px; */
}

.links li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.links li a:hover {
    color: #3f83f8;
}

.links li button {
    padding: 10px;
    border-radius: 5px;
    /* border: 490px grey; */
    border: 1px solid rgba(128, 128, 128, 0.641);
    /* border-color: lightgray; */
}

.links li button:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.544);
}

.ri-menu-3-line {
    display: none;
    font-size: 1.5rem;
}

.ri-menu-3-line:hover {
    cursor: pointer;

}

@media (max-width:600px) {

    .links li {
        display: none;
    }

    .ri-menu-3-line {
        display: block;
    }
}



.section2 {
    width: 70%;
    /* background-color: #3f83f8; */
    margin: 60px auto;
    /* align-content: center; */
    text-align: center;
}



.section-2-head h1 {
    font-size: 48px;
    color: #1e293b;
    font-weight: 900;
    line-height: 48px;
}

.section-2-head p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #1e293b;
    line-height: 28px;
}


.section-2-search input {
    margin-top: 20px;
    width: 65%;
    padding: 15px;
    border: 1px solid #1fa172;
    border-radius: 2px;


}


.section-2-search input:focus {
    outline: #1d7655;
    box-shadow: 2px 2px 2px 4px #1fa172;

}


::placeholder {

    color: #1fa172;

}

.section-2-search button {
    padding: 15px;
    background-color: #1fa172;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: white;
}

.section-2-search button:hover {
    background-color: #1d7655c7;
}

.section2 .img-slider img {
    width: 80%;
    margin-top: 60px;
    border-radius: 10px;

}



.section-3-head {
    text-align: center;
}

.section-3-head h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #1e293b;
}

.section-3-head p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    columns: #374151;
}


.section-3-images {
    /* width: 100%; */
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-image img {
    width: 95%;
    border-radius: 5px;

}

.border-image {
    border: 1px solid rgba(128, 128, 128, 0.726);
    border-radius: 5px;
}




.grid-image {

    transition: transform .1s;

    margin: 0 auto;
}

.grid-image:hover {
    transform: scale(1.1);
    /* box-shadow: rgb(128, 128, 128) 0px 3px 8px; */
}

.section-4-head {
    text-align: center;
}

.section-4-head h3 {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #1e293b;
}



.section-4-head p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    /* line-height: 28px; */
    font-weight: 400;
    font-style: normal;
    columns: #374151;
}

.section-4-head a {
    font-size: 18px;
    font-weight: 500;
    color: #3f83f8;
    line-height: 28px;
}




.section-4-body {
    margin-top: 35px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section-4-box {
    border: 1px solid rgba(128, 128, 128, 0.395);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    padding: 10px;
}



.section-4-box p {
    /* margin-top: 20px; */
    font-size: 14px;
    font-weight: 400;
    color: #374151;
    line-height: 20px;
}

.section-4-box .first-p {
    margin-top: 20px;
}


.section-4-box .bold {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}


















.section-5 {
    margin-top: 150px;
}




.section-5-head {
    text-align: center;
}

.section-5-head h5 {
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    color: #1e293b;
}



.section-5-wrapper {

    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    /* align-items: center; */
    /* margin: 10px; */
}

.section-5-image img {
    width: 100%;
}


.content h6 {
    letter-spacing: -3px;

    margin-top: 10px;
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    color: #1e293b;
}

.content p {
    margin: 10px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1e293b;
}


.content button {

    padding: 15px 70px;
    background-color: #1fa172;
    border: none;
    border-radius: 5px;
    color: white;
}

.content button:hover {
    background-color: #1d7655c6;
    cursor: pointer;
}


/* 
.section-6-wrapper {
    display: flex;
} */




.section-8 {
    margin-top: 50px;
    background-color: rgba(198, 197, 197, 0.181);
    width: 100vw;
    height: 50vh;
}

.container h6 {

    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    color: #1e293b;
}

.section-8-head {
    margin-top: 50px;
    text-align: center;
}

.section-8 {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.search-bar-2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    /* align-items: center; */
}

.search-bar-2 input {
    padding: 13px 10px;
    width: 80%;
    border: 1px solid #1fa172;
    border-radius: 2px;

}

.search-bar-2 input:focus {
    outline: 1fa172;
}


.search-bar-2 button {
    /* padding: 20px; */
    background-color: #1fa172;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: white;
}

.search-bar-2 button:hover {
    background-color: #1d7655b1;
    cursor: pointer;
}









/* Styling Section-9 */


.section-9 {
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    gap: 100px;
    /* align-items: center; */
    justify-content: space-evenly;
    /* margin-bottom: 20px; */
}

.section-9-content h1 {
    letter-spacing: -3px;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    color: #1e293b;
    margin-bottom: 20px;
}

.section-9-content p {
    font-size: 18px;
    line-height: 28px;
    color: #1e293b;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}

.section-9-content button {
    padding: 15px 25px;
    background-color: #1fa172;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 3px;
}

.section-9-content button:hover {
    background-color: #1d7655c7;
}

.section-9-img img {
    /* width: 10%; */
    max-width: 550px;
    /* height: 604px; */

}



/* Styling Section 11  */
/* Resources Section */

.section-11 {
    width: 70%;
}

.section-11 h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    font-style: normal;
    color: #1e293b;
}


.resources {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.resource-box p.muted {
    /* border: 1px solid black; */
    font-size: 12px;
    line-height: 16px;
    color: #4b5563;
    font-style: normal;
}

.resource-box h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.resource-box h3 a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1e293b;
    letter-spacing: normal;

}

.resource-box h3 a:hover {
    color: #3f83f8;
}

.resource-box p {
    font-size: 16px;
    line-height: 24px;
    color: #1e293b;
    font-weight: 400;
}

.resource-box img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: none;

}

.resource-box img:hover {
    cursor: pointer;
    opacity: 0.8;
    /* background-color: black;
     */
    /* border: 1px solid rgba(128, 128, 128, 0.334); */
    /* color: gray; */

}



footer {
    margin-top: 30px;
    width: 100%;
    height: 20vh;
    background-color: rgba(211, 211, 211, 0.374);
}

footer h3 {
    letter-spacing: normal;
    text-align: center;
    padding-top: 40px;
}



/* Styling Accordian  */
/* Accordian */

.section-12 {
    background-color: rgba(198, 197, 197, 0.181);
    width: 100%;

}

.section-12-hearder {
    text-align: center;
    margin: 50px;
    font-weight: 900;
    line-height: 1;
    font-size: 3rem;
}

.accordion {
    background-color: white;
    margin: 10px;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: 1px solid rgba(128, 128, 128, 0.179);
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #cccccc6b;
}


/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}




.bg-blue {
    background-color: #007aff;
    height: 40vh;

    margin-bottom: 50px;

}


::placeholder {
    color: #1fa172;
}


.bg-blue h6 {
    color: white;
    margin-bottom: 30px;

}